body, html {
	margin: 0;
	height: 100%;
}

#logo {
	width: 272px;
	padding-top: 185px;
	margin: auto;
}

#search_box {
	width: 575px;
	height: 40px;
	border: 1px solid lightgray;
	margin: 20px auto;
}

input[type="text"] {
	width: 475px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	border: none;
	font-size: 16px;
}

input:focus {
	outline: none;
}

#search_btns {
	width: 400px;
	margin: 30px auto;
	text-align: center;
}

#search_btns button {
	height: 34px;
	margin: 3px;
	font-weight: bold;
    color: gray;
    background: #f1f1f1;
    border: none;
    padding: 0 15px;
}

#f_bar {
	width: 100%;
	background-color: #f1f1f1;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #e0e0e0;
}

#f_bar span a{
	display: inline-block;
	line-height: 40px;
	padding-left: 27px;
}