#logo {
	width: 272px;
	padding-top: 185px;
	margin: auto;
}

#search_box {
	width: 575px;
	height: 40px;
	border: 1px solid lightgray;
	margin: 20px auto;
}

input[type="text"] {
	width: 475px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	border: none;
	font-size: 16px;
}

input:focus {
	outline: none;
}

#search_btns {
	width: 400px;
	margin: 30px auto;
	text-align: center;
}

#search_btns button {
	height: 34px;
	margin: 3px;
	font-weight: bold;
    color: gray;
    background: #f1f1f1;
    border: none;
}